---
title: Maelström &amp; FutureCon na Festivalu fantazie 2013
---
%header#masthead
  #masthead-inner
    %h1
      <b>Maelström&nbsp;+&nbsp;FutureCon</b><wbr> @ <b>Festival&nbsp;fantazie&nbsp;2013</b><br>
      1.&nbsp;až 7.&nbsp;července&nbsp;2013, Chotěboř
#container.cf
  #main(role="main")
    %section#about
      #about-pgf.description
        :markdown
          **Festival fantazie** je největší festival popkultury v ČR ze série Festivalů fantazie (od roku 1996).

          Více informací [na webu Festivalu](http://www.festivalfantazie.cz/).
      #about-mm.description
        :markdown
          **Maelström** je občanské sdružení, které chce posluchače seznámit s novými i&nbsp;starými společenskými fenomény. Mezi témata patří psychologie, populární věda a&nbsp;historie.
      #about-fc.description
        :markdown
          **FutureCon** přináší vážnější, vědecká témata od akademických odborníků. Zaměřuje se hlavně na nové objevy ve vědě a&nbsp;technologie současnosti i&nbsp;budoucnosti.

    %section#programme
      %h2 Program

      :markdown
        [Aktuální program linie **FutureCon & Maelström**](http://amber.festivalfantazie.cz/porady.php#3100)

      =#partial 'program'

    %section#newsletter
      %h2 Aktuální informace & Newsletter

      :markdown
        Přihlaste se k odběru Maelström Newsletteru kde se dozvíte o našich dalších akcích a získáte materiály z přednášek.

      = partial 'newsletter'
  %footer#footer
