---
title: Maelström+FutureCon na Pragoffestu 2013
---

#container.cf
  %header#masthead
    %hgroup
      %h1
        =link_to 'PragoFFest', 'http://pragoffest.cz/'
        se koná 31.&nbsp;ledna až 3.&nbsp;února&nbsp;2013
      %h2 <b>Maelström</b> a <b>FutureCon</b> zde nebudou chybět
  #main(role="main")
  %footer
