---
title: Maelström &amp; FutureCon na Pragoffestu 2013
---

#container.cf
  %header#masthead
    %h1
      <b>PragoFFest</b> se koná 31.&nbsp;ledna až 3.&nbsp;února&nbsp;2013<br>
      <b>Maelström</b> a <b>FutureCon</b> zde nebudou chybět
  #main(role="main")
    %section#about
      #about-pgf.description
        :markdown
          **PragoFFest** je třetí největší festival her a fantastiky ze série Festivalů fantazie a největší festival tohoto druhu v Praze.

          Více informací [na webu PragoFFestu](http://www.pragoffest.cz).
      #about-mm.description
        :markdown
          **Maelström** je občanské sdružení, které chce posluchače seznámit s novými i starými společenskými fenomény. Mezi témata patří psychologie, populární věda a historie.
      #about-fc.description
        :markdown
          **FutureCon** přináší vážnější, vědecká témata od akademických odborníků. Zaměřuje se hlavně na nové objevy ve vědě a technologie současnosti i budoucnosti.

    %section#programme
      %h2 Program

      :markdown
        Program bude dostupný v průběhu ledna 2013, [přihlaste se k&nbsp;odběru newsletteru](#newsletter) a dozvíte se složení programu jako první.

    %section#newsletter
      %h2 Aktuální informace & Newsletter
  %footer
